@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url(/Fonts/Inter-4.0/web/Inter-Black.woff2);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(/Fonts/Inter-4.0/web/Inter-Light.woff2);
}
