.images {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1280px;
  gap: 16px;
}

.image {
  margin: 0;
}

.image__gallery {
  max-width: 284px;
  width: 100%;
  height: 213px;
}
