.images {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1280px;
  gap: 16px;
}

.image {
  max-width: 284px;
  width: 100%;
  height: 213px;
}

@media screen and (max-width: 984px) {
  .images {
    justify-content: center;
  }
}

@media screen and (max-width: 520px) {
  .images {
    justify-content: center;
    padding: 0;
  }
}
