.places {
  margin: auto;
  width: 100%;
  max-width: 984px;
}

.place {
  padding-top: 90px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: repeat(2, min-content) 1fr;
}

.place__title {
  color: #fff;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  width: 400px;
}

.place__image {
  max-width: 460px;
  width: 100%;
  height: 460px;
}

.place__edition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place__autor {
  color: #aaa;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  padding-top: 70px;
  width: 85%;
}

.place__editor {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  width: 85%;
}

.place__description {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  max-width: 410px;
  width: 100%;
  padding: 0 0 25px 40px;
}

.place__paragraph {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.place__submit {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 355px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background: #0278fe;
  transition: background-color 0.3s;
  margin-top: 40px;
  border: 0;
}

.place__submit:hover {
  background-color: #043977;
}

@media screen and (max-width: 984px) {
  .palces {
    max-width: 520px;
    padding: 0;
  }

  .place {
    grid-template-columns: 360px 1fr;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
    padding-top: 50px;
    height: 150px;
  }

  .place__edition {
    align-items: start;
  }
  .place__autor {
    padding-left: 0px;
  }

  .place__editor {
    padding: 0;
  }

  .place__image {
    max-width: 340px;
  }

  .place__description {
    font-size: 16px;
    line-height: 26px;
    max-width: 352px;
    padding: 0;
  }
}

@media screen and (max-width: 520px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    padding-bottom: 0;
    height: 90px;
  }
  .places {
    max-width: 520px;
  }
  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .place__edition {
    display: contents;
  }

  .place__autor {
    padding-top: 0;
    max-width: 288px;
  }

  .place__editor {
    max-width: 288px;
    padding: 0;
  }
  .place__image {
    max-width: 320px;
    padding: 0;
    margin: unset;
    margin-top: 30px;
  }

  .place__description {
    max-width: 288px;
    padding: 0;
    padding-left: 24px;
    padding-top: 15px;
  }

  .place__submit {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin-top: 8px;
    padding-left: 24px;
  }
}
